.page {
  max-width: 1292px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
}

.bannerIMG {
  margin-top: 120px;
  width: 1292px;
  height: 700px;
  border-radius: 10px;
}

@media (max-width: 1025px) {
  .bannerIMG {
    width: 768px;
    height: 397px;
  }
}

@media (max-width: 650px) {
  .bannerIMG {
    width: 350px;
    height: 500px;
  }
}
