.section {

    text-align: center;
    background-color: #fdfdfd;
    margin-bottom: 50px;
  }
  
  .title {
    font-size: 32px;
    font-weight: 400;
    font-family: 'Segoe UI', sans-serif;
    margin-bottom: 40px;
    color: #222;
  }
  
  .divIMG {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .image {
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .image:hover {
    transform: scale(1.05);
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: zoom-out;
  }
  
  .modalImage {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
  }
  
  /* Responsividade */
  @media screen and (max-width: 768px) {
    .divIMG{
      width: 360px;
    }
    .image {
      width: 360px;
    }
  }
  